extends ../layout/layout 
block content  
    div.container 
        .row.sh.b-r(style="margin: 20px  0 0 0 ;")
            .body-c
                img(src="/imges/bg.png" class="card-img-top   b-r") 
                h1= center.name   
                table.table.table-striped 
                    tbody
                        tr 
                            td الهاتف
                            td 
                                a.p2(href="tel:00961" + center.phone )
                                    p= center.phone   
                        tr
                            td دعم الامم المتحدة 
                            td لا يوجد  
                        tr 
                            td الاختصاص   
                            td= center.jurisdiction 
                        tr 
                            td المدينة 
                            td= center.address  
            article.body-c  
                p العنوان على الخريطة 

                iframe.b-r(src= center.description width="100%" height="200px" style="border:0" allowfullscreen="allowfullscreen")
                a.btn.btn-primary(href= center.id + "/edit" )  edit 
                a.btn.btn-danger(href= center.id + "/delete"  )  Delete 
                div
                    span    تاريخ الاظافة   
                    span= center.created_at.toLocaleDateString('ar-EG') 
                div
                    span   تاريخ التعديل  
                    span= center.date.toLocaleDateString('ar-EG') 

//- code bootstrap
